:root{
    --danger: #ffe0e2;
    --dark-grey: #e4e4e4;
    --warning: #fffae0;
    --green: #198754;
    --success: #e0ffe9;
}
.bulkMailerAlert{
    position: fixed;
    right: 0;
    top: 50px;
    padding: 5px 20px;
    background: var(--green);
    box-shadow: 0 0 10px var(--dark-grey);
    color: #fff;
    font-size: 18px;
    display: none;
}
#alert li{
    text-transform: lowercase;
}
.tableInput{
    padding: 2px 10px !important;
    background: var(--dark-grey);
    border:2px solid transparent !important;
    cursor: pointer !important;
}
.tableInput:focus, .tableInput:hover , .tableInput:active{
    border:2px solid var(--green) !important;
    background: #fff;
}
tr.danger {
    background: var(--danger) !important;
}
tr.warning {
    background-color: var(--warning) !important;
}
tr.success {
    background-color: var(--success) !important;
}
input:read-only{
    background: var(--dark-grey);
}

button[type='submit']{
    margin-top: 10px;
}
.get-info {
    top: 9px;left: -10px;cursor: pointer
}
#partial_show_data{
    max-height:80vh;
    padding-top: 10px;
    outline: 35px solid #fff;
    outline-offset: -24px;
}
.campaigns table.dataTable th,.campaignstable .dataTable tr,.campaigns table.dataTable td{
    text-align: center;
}
@media (max-width: 1090px){.get-info {top: 21px}}
@media (max-width: 890px){.get-info {top: 33px}}

@media (max-width: 572px) {
    .sm-hidden{
        display: none;
    }
    input{
        width: 275px !important;
    }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter{
        text-align: left;
    }
}
